ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body,html{
    background:#f0f3ef;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: #999999;
}
body{
    margin: 0;
}

header{
    height: 30px;
    width: 100%;
    background-color: #e3e4e5;
}
.head{
    width: 1190px;
    height:30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
    
}
.loc{
    width:258px;
    height: 30px;
    /* text-align: right; */
    display: flex;
    justify-content: flex-end;
    align-items: center
    }
.loc .fa{
    color: red;
    margin-right: 5px;
}
.loc>span{
    font-size: 14px;
    color: #999999;
}
.menu{
    width: 718px;
    height: 30px;
    display: flex;
    align-items: center;
    /* box-sizing: border-box */
    
}
.login{
    margin-right: 10px;
}
.login>a:nth-of-type(1){
    font-size: 14px;
    color: #999999;
}
.login>a:nth-of-type(2){
    font-size: 14px;
    color: red;
}
.menu .list{
    display: flex;
}
.menu .list li{
    font-size: 14px;
    color: #999999;
    

}
.menu .list li::before{
    content:'';
    display: inline-block;
    height: 12px;
    width: 1px;
    background-color: #999999;
    margin: 0 5px;
    vertical-align: middle;
}
.head1{
    width: 100%;
    /* height: 140px; */
}
.head1_content{
    width: 1190px;
    /* height: 140px; */
    margin: 0px auto;
    display: flex;
    /* justify-content: flex-end */
    
    /* position: relative; */

}
.logo{
    height: 170px;
    width: 190px;
    background-image: url('../img/sprite.head.png');
    background-size: cover;
    box-shadow: 1px 1px 8px #888888;
    /* position: absolute; */
    top:0px;
    /* display: none */
}
/* .search{
    width: 1190px;
    height: 140px;
    margin: 0 auto; */
    /* text-align: center */
    
    /* display: flex; */
    /* justify-content:flex-end */
/* } */
.search_content{
    
    /* width:1300px; */
    /* display: flex */
   /* float: right; */
   margin-left: 120px;
   margin-top:50px;
    
}
.search_content form{
       position: relative;
}
.search_content input{
        height: 35px;
        width: 500px;
        border: 0px;
        box-sizing: border-box;
        padding-left: 5px;
        outline: none
        
        
}
.search_content .fa-camera{
    position: absolute;
    right: 60px;
    top:10px;
    /* right:500px; */
    
    /* right:380px; */
    /* top:10px; */
    
}
.search_content .fa-search{
    background: red;
    color: white;
    line-height: 35px;
    text-align: center;
    width: 50px;

}
.shopping{
    box-sizing: border-box;
    height: 35px;
    line-height: 30px;
    width: 190px;
    text-align: center;
    border: 1px solid #e2e3e4;
    background-color: white;
    vertical-align: top;
    margin: 0 30px;
    margin-top:50px;

}
.shopping>span:nth-of-type(2){
    font-size: 14px;
    
}
.shopping span{
    color: red;
}
.qrcode{
    height: 60px;
    width: 60px;
    background-image: url('../img/mobile_qrcode.png');
    background-size: cover;
    border: 1px solid #e2e3e4;
    box-sizing: border-box;
    /* padding: 10px; */
    /* position: absolute; */
    /* right: 20px; */
    /* top:0 */
}
.search_content .title>a:nth-child(1){
    color: red

}
.nav{
    width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 170px;
    left: 110px;
}
.nav li{
    margin: 0 17px;
}
.nav li a{
    font-size: 14px;
    color: black
}
.nav .line{
    /* vertical-align: middle;
    border-left:1px solid black;  */
    height: 10px;
    /* line-height: 50px; */
    width: 1px;
    margin-top:8px; 
    background-color: #888888;
    
}
/* .clearfix{
    overflow: hidden;
} */
.home{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
    display: flex;
    margin-top: 1px;
}
.home .nav_left{
    width: 190px;
    height: 480px;
    background-color: white
}
.banner {
    width: 590px;;
    height: 470px;
    /* margin: 50px auto; */
    position: relative;
    margin: 10px;
}

.banner .pic a {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.banner .pic a.current {
    display: block;
}

.banner .indicator {
    position: absolute;
    color: white;
    left: 10px;
    bottom: 10px;
}

.banner .indicator span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    /* background-color: blue; */
    text-align: center;
    line-height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.banner .indicator span.active {
    background: white;
    box-shadow: 1px 1px 8px #888888;
}

.banner .page {
    /* position: absolute; */
    right: 10px;
    bottom: 10px;
    color: white;
}
.banner .prev{
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    

}
.banner .next{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    

}

.banner .page span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(151, 137, 137, 0.5);
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    /* margin-right: 10px; */
    user-select: none;
    cursor: pointer;
}

.banner .page span:hover {
    background-color: rgba(100, 100, 100, 1);
}
.home>.pic{
   width: 190px;
   height: 470px;;
   display: flex;
   flex-direction: column;
   /* margin-left: 10px; */
}
.home>.pic>img{
    width: 190px;
    height: 150px;
    /* flex-grow: 1 */
    margin-top: 10px
}
.user{
    height: 470px;
    width: 190px;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    
}
.user .user_menu{
    height: 80px;
    width: 190px;
    position: relative;
    padding-top:60px; 
    text-align: center;
    /* overflow: hidden; */
}
.user .user_menu_user{
    position: absolute;;
    left: 0;
    right: 0;
    top:-10px;
    width: 65px;
    /* line-height: 65px; */
    height: 65px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #e3e1df;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    box-shadow: 2px 5px 10px 3px #e2e3e4;

}

.user .user_menu_user a img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.user .user_menu .user_font{
    /* margin-top:30px; */
    color: #888;
    font-size: 14px;
}
.user .user_btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.user .new_user{
    width: 70px;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #888888;
    font-size: 12px;
    color: red;

}
.user .vip{
    width: 70px;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px #888888;
    font-size: 12px;
    color: goldenrod;
    background: black;
}
.user .news{
   width: 190px;
   height: 130px;
}
.user .news_select{
    width: 190px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
    padding: 0 10px;
    box-sizing: border-box
   
}
.user .news_select_left .news_line{
    height: 12px;
    width: 1px;
    margin: 0 10px;
    margin-top:5px;
    background: #888888
}
.user .news_select_left a{
    color: #333333
}
.user .news_select_left{
    display: flex;
    justify-content: space-between;
    
}
.user .more a{
    color: #333333
}
.user .news_select_left a:nth-of-type(1){
    border-bottom: 1px solid red;
}
.user .news_text div{
   text-align: left;
   margin-left: 15px;
   
}
.user .news_text div a{
    font-size: 12px;
    color: #666666;
}
.user .news_text2 div{
    text-align: left;
    width: 160px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
     text-overflow: ellipsis
    
 }
 .user .news_text2 div a{
     font-size: 12px;
     color: #666666;
     
     
 }
.news_line2{
    width: 160px;
    height: 1px;
    margin: 0px auto;
    margin-top:10px;
    background-color: #ebeaea
}

